* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --header-color: rgb(37, 37, 37);
  --text-color: rgb(86, 86, 86);
  --background-1: rgb(166, 199, 212);
  --background-2: rgb(118, 129, 140);
  --background-3: rgb(22, 42, 53);
  --red: rgb(226, 94, 94);
  --green: rgb(92, 230, 113);
  --gray: rgb(186, 186, 186);
}

body {
  background: var(--background-2);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  padding: 0 2em;
  background: var(--background-1);
  font-family: "Lato", sans-serif;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
  margin-top: 2em;
  padding: 0.5em 0.9em;
  font-family: "Staatliches", cursive;
  border-bottom: 2px solid var(--text-color);
}

.title h1 {
  color: var(--header-color);
  margin-bottom: 0.4em;
}

.title p {
  font-size: 0.9rem;
  letter-spacing: 1.3px;
  color: var(--text-color);
}

.user-input {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin: 1em 0;
  background: rgb(227, 245, 254);
  border: 1px solid rgb(227, 245, 254);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.failed {
  border: 1px solid var(--red);
  box-shadow: var(--red) 0px 3px 8px;
}

.user-input input {
  outline: none;
  border: none;
  background: none;
  width: 70%;
  padding: 1em 1em;
  font-size: 0.9rem;
}

.user-input input::placeholder {
  font-size: 0.85em;
}

.user-input i {
  display: flex;
  height: 100%;
  padding: 0 0.8em;
  border-left: 2px solid var(--text-color);
  transition: all 0.2s ease;
}

.user-input i:hover {
  cursor: pointer;
  border-left: none;
  transform: rotate(90deg);
}

.sections ul {
  display: flex;
  list-style: none;
  margin: 0.5em 0;
}

.sections ul li {
  margin: 0 0.6em;
}

.link {
  color: black;
  text-decoration: none;
}

.sections ul li a i {
  font-size: 0.9em;
  margin: 0 0.2em;
}

.link--deleted {
  color: rgb(152, 30, 30);
}

.link--active {
  font-weight: 600;
}

.todo-container {
  margin: 1em 0;
  width: 100%;
}
.alert {
  color: white;
  background: url(../img/landscape.jpg);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  border-radius: 10px;
}

.no-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.no-item h2 {
  margin: 0.6em 0;
  letter-spacing: 1.2px;
}

.no-item img {
  width: 100%;
}

.todo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 0.9em;
  margin: 0.1em 0;
  color: white;
  background: var(--background-3);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo-list span {
  text-transform: lowercase;
}

.todo-list input {
  width: 20px;
  height: 20px;
}

.todo-list i {
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (min-width: 1100px) {
  .container {
    width: 650px;
  }
}
